body {
	font-family: Arial, sans-serif;
    color: #333333;
    background-color: #F0F0F0;
}

header {
	background-color: #292B2C;
	color: #FFFFFF;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 36px;
}

main {
	margin: 20px;
}

footer {
	color: #292B2C;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	margin: 0;
}

.twitch-button {
	background-color: #9147FF;
	color: #FFFFFF;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

.twitch-button:hover {
	background-color: #7535CC;
}


.button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
  
  .button:hover {
    background-color: #3E8E41;
}

form {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin: 10px;
}

/* Style the form inputs */
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the form submit button */
input[type=submit] {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555555;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #333333;
    color: #FFFFFF;
}

table tr:nth-child(even) {
    background-color: #F0F0F0;
}

table tr:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}